<section class="bg-neutral-four gap-10" id="about">
    <a href="#main-nav-link" class="sr-only">Return to nav</a>
    <div class="flex flex-col gap-20 max-w-750">
        <div class="flex flex-col gap-8 xl:flex-row xl:items-center">
            <div class="flex flex-col gap-8 w-full items-center xl:w-[50%]">
                <picture>
                    <source srcset="assets/images/Scrib-shadow-lg.webp" type="image/webp" media="(min-width:1280px)"
                        data-theme="dark, light">
                    <source srcset="assets/images/Scrib-shadow-med.webp" type="image/webp" media="(min-width:850px)"
                        data-theme="dark, light">
                    <source srcset="assets/images/Scrib-shadow-sm.webp" type="image/webp" media="(min-width:300px)"
                        data-theme="dark, light">
                    <img class="opacity-10" src="assets/images/Scrib-shadow-sm.png"
                        alt="sillouette of the GTM mascot Scrib, a cross between a monkey and otter, with a magnifying glass">
                </picture>
            </div>
            <div class="flex flex-col gap-8 w-full xl:w-[50%]">
                <div class="flex flex-col">
                    <p class="paragraph-accent">The Mission</p>
                    <h2>Measuring Advancement with <span class="text-primary-one">Facts</span>.</h2>
                </div>
                <p class="paragraph-md">The Green Tape Measure is a volunteer-run North Carolina nonprofit corporation
                    on a
                    mission to champion the next generation of interior designers. By providing objective data,
                    research, and
                    educational resources to the public, we are expanding career paths and protecting public safety
                    &mdash; ensuring the profession is recognized, regulated, and respected.</p>
                <div class="flex flex-col gap-4">
                    <div class="flex gap-4 items-center">
                        <div class="icon-container">
                            <svg aria-hidden="true">
                                <use href="assets/sprites/solid.svg#magnifying-glass"></use>
                            </svg>
                        </div>
                        <p class="paragraph-lg">Research.</p>
                    </div>
                    <div class="flex gap-4 items-center">
                        <div class="icon-container">
                            <svg aria-hidden="true">
                                <use href="assets/sprites/solid.svg#apple-whole"></use>
                            </svg>
                        </div>
                        <p class="paragraph-lg">Educate.</p>
                    </div>
                    <div class="flex gap-4 items-center">
                        <div class="icon-container">
                            <svg aria-hidden="true">
                                <use href="assets/sprites/solid.svg#arrow-trend-up"></use>
                            </svg>
                        </div>
                        <p class="paragraph-lg">Advance.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-8 xl:flex-row xl:items-center">
            <div class="flex flex-col gap-8 w-full xl:w-[50%]">
                <div class="flex flex-col">
                    <p class="paragraph-accent">Founding</p>
                    <h2>Grounded in <span class="text-primary-one">Teaching</span>.</h2>
                </div>
                <p class="paragraph-md">The Green Tape Measure was initially conceptualized in 2025 as a platform
                    expanding
                    professional educational services. However, after encountering systemic career, wage parity, and
                    leadership barriers &mdash; and hearing from countless designers struggling with the same obstacles
                    &mdash; our founder realized the industry needed a broader solution. Today, GTM has transformed into
                    an
                    independent, community-driven nonprofit foundation dedicated to delivering evidence-based research
                    and
                    advocacy for the public good.</p>
                <p class="paragraph-md"><a href="https://www.youtube.com/watch?v=WMxEx4Reqpk"
                        class="link link--inline-green" target="_blank">Watch the video</a> to learn more about our
                    founder's experiences.</p>
            </div>
            <div class="flex gap-8 w-full items-center xl:w-[50%]">
                <a class="relative aspect-video w-fit cursor-pointer bg-neutral-two rounded-sm flex js:hidden"
                    href="https://www.youtube.com/watch?v=WMxEx4Reqpk" target="_blank">
                    <picture>
                        <source srcset="assets/images/thumbnail-xxl.webp" type="image/webp" media="(min-width:1280px)"
                            data-theme="dark, light">
                        <source srcset="assets/images/thumbnail-xl.webp" type="image/webp" media="(min-width:1000px)"
                            data-theme="dark, light">
                        <source srcset="assets/images/thumbnail-lg.webp" type="image/webp" media="(min-width:850px)"
                            data-theme="dark, light">
                        <source srcset="assets/images/thumbnail-md.webp" type="image/webp" media="(min-width:700px)"
                            data-theme="dark, light">
                        <source srcset="assets/images/thumbnail-sm.webp" type="image/webp" media="(min-width:600px)"
                            data-theme="dark, light">
                        <source srcset="assets/images/thumbnail-xs.webp" type="image/webp" media="(min-width:400px)"
                            data-theme="dark, light">
                        <source srcset="assets/images/thumbnail-xxs.webp" type="image/webp" media="(min-width:300px)"
                            data-theme="dark, light">
                        <img class="opacity-10" src="assets/images/thumbnail-md.png"
                            alt="GTM Intro Video Thumbnail, text I tried to get an Architecture Degree 3 times with picture of founder Amy Wright"
                            class="relative z-1">
                    </picture>
                    <p
                        class="paragraph-md w-full text-center self-center justify-self-center underline text-neutral-nine hover:text-primary-one active:text-primary-one">
                        Watch the video on YouTube</p>
                </a>
                <button type="button" id="video-wrapper"
                    class="relative aspect-video w-fit cursor-pointer bg-neutral-two rounded-sm group hidden js:flex"
                    data-video="WMxEx4Reqpk" aria-label="Play GTM Intro Video">
                    <picture>
                        <source srcset="assets/images/thumbnail-xxl.webp" type="image/webp" media="(min-width:1280px)"
                            data-theme="dark, light">
                        <source srcset="assets/images/thumbnail-xl.webp" type="image/webp" media="(min-width:1000px)"
                            data-theme="dark, light">
                        <source srcset="assets/images/thumbnail-lg.webp" type="image/webp" media="(min-width:850px)"
                            data-theme="dark, light">
                        <source srcset="assets/images/thumbnail-md.webp" type="image/webp" media="(min-width:700px)"
                            data-theme="dark, light">
                        <source srcset="assets/images/thumbnail-sm.webp" type="image/webp" media="(min-width:600px)"
                            data-theme="dark, light">
                        <source srcset="assets/images/thumbnail-xs.webp" type="image/webp" media="(min-width:400px)"
                            data-theme="dark, light">
                        <source srcset="assets/images/thumbnail-xxs.webp" type="image/webp" media="(min-width:300px)"
                            data-theme="dark, light">
                        <img class="opacity-10" src="assets/images/thumbnail-md.png"
                            alt="GTM Intro Video Thumbnail, text I tried to get an Architecture Degree 3 times with picture of founder Amy Wright">
                    </picture>
                    <div class="absolute inset-0 flex items-center justify-center" aria-hidden="true">
                        <div
                            class="w-16 h-11 bg-primary-two rounded-xl flex items-center justify-center text-neutral-two-dark transition-transform duration-200 group-hover:scale-110">
                            <svg class="w-5 h-5 text-neutral-nine" viewBox="0 0 24 24">
                                <path d="M8 5v14l11-7z" />
                            </svg>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-4">
        <div class="flex flex-col">
            <p class="paragraph-accent">Funding</p>
            <h2><span class="text-primary-one">Transparent</span> Operations.</h2>
        </div>
        <div class="flex flex-col gap-8 xl:flex-row xl:items-center">
            <div class="flex flex-col gap-8 w-full xl:w-[50%]">
                <div class="flex flex-col gap-4">
                    <h3>Future Funding Structure</h3>
                    <div class="flex gap-2 items-center">
                        <div class="icon-container">
                            <svg aria-hidden="true">
                                <use href="assets/sprites/solid.svg#circle-user"></use>
                            </svg>
                        </div>
                        <div class="flex flex-col">
                            <p class="paragraph-md">50% Membership Tiers</p>
                            <p>Optional perks and exclusive content.</p>
                        </div>
                    </div>
                    <div class="flex gap-2 items-center">
                        <div class="icon-container">
                            <svg aria-hidden="true">
                                <use href="assets/sprites/solid.svg#hand-holding-heart"></use>
                            </svg>
                        </div>
                        <div class="flex flex-col">
                            <p class="paragraph-md">30% Donations</p>
                            <p>One-time and reoccurring contributions.</p>
                        </div>
                    </div>
                    <div class="flex gap-2 items-center">
                        <div class="icon-container">
                            <svg aria-hidden="true">
                                <use href="assets/sprites/solid.svg#magnifying-glass-chart"></use>
                            </svg>
                        </div>
                        <div class="flex flex-col">
                            <p class="paragraph-md">10% Research Grants</p>
                            <p>Long-term industry studies to guide the profession and legislation.</p>
                        </div>
                    </div>
                    <div class="flex gap-2 items-center">
                        <div class="icon-container">
                            <svg aria-hidden="true">
                                <use href="assets/sprites/solid.svg#bag-shopping"></use>
                            </svg>
                        </div>
                        <div class="flex flex-col">
                            <p class="paragraph-md">10% Merchandise</p>
                            <p>Clothing, pens, keychains, pins, and Scrib plushies.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-8 w-full justify-between xl:w-[50%]">
                <div class="flex flex-col gap-4">
                    <div class="flex flex-col gap-1">
                        <h3>Current Campaign</h3>
                        <h4>Help Launch The Green Tape Measure</h4>
                    </div>
                    <p class="paragraph-md">As we are currently only funded by donations, we need YOUR help. Support
                        GTM's 501(c)(3) non-profit conversion with a donation today.</p>
                    <a href="#takeaction" class="link link--inline-green">Donor Benefits</a>
                </div>
                <div class="flex flex-col">
                    <a class="btn btn-lg btn-cta max-w-150" href="https://givebutter.com/help-launch-gtm?c=WEB"
                        target="_blank">Donate Now* <svg aria-hidden="true" class="icon-xs text-neutral-two-dark">
                            <use href="/assets/sprites/solid.svg#arrow-up-right-from-square"></use>
                        </svg></a>
                    <p>*<strong>Contributions are not currently tax-deductible</strong> while we finalize our
                        501(c)(3) transition.
                        Interested in sponsoring us now? <a href="mailto:info@thegreentapemeasure.org"
                            class="link link--inline-green">Reach out</a> to see how you can get involved. Thank you
                        for championing our mission!</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>