<section class="xxl:items-center" id="advocacy">
    <a href="#main-nav-link" class="sr-only">Return to nav</a>
    <div class="flex flex-col gap-1 text-center xxl:w-375">
        <p class=" paragraph-accent">HSW in Action</p>
        <h2>Our Legislative <span class="text-primary-one">Voice</span>.</h2>
        <p class="paragraph-md">We advocate for inclusive and data-supported regulation that elevates the profession and
            protects the public.</p>
    </div>
    <div class="flex gap-6 justify-center xxl:w-375" id="advocacy-btns">
        <p class="block js:hidden">On smaller screens, scroll or swipe across to see the cards.</p>
        <button type="button" class="btn btn-icon btn-icon-lg hidden js:flex cards-prev-btn"
            aria-label="see previous legislation" aria-controls="advocacy-cards">
            <svg class="icon-xs" aria-hidden="true">
                <use href="/assets/sprites/solid.svg#angle-left"></use>
            </svg>
        </button>
        <button type="button" class="btn btn-icon btn-icon-lg hidden js:flex cards-next-btn"
            aria-label="see next legislation" aria-controls="advocacy-cards">
            <svg class="icon-xs" aria-hidden="true">
                <use href="/assets/sprites/solid.svg#angle-right"></use>
            </svg>
        </button>
    </div>
    <div class="cards-container xxl:w-375" id="advocacy-cards" role="region" aria-roledescription="carousel"
        aria-label="Advocacy Highlights">
        <div class="card gap-8 w-75 min-w-75 min-h-145 bg-neutral-four" role="group" aria-roledescription="slide"
            aria-label="card 1 of 7" tabindex="-1">
            <div class="flex flex-col gap-1">
                <p class="paragraph-accent">June 2026</p>
                <h3>What Our Current Data Supports</h3>
            </div>
            <div class="flex justify-between">
                <div class="icon-container">
                    <svg aria-hidden="true">
                        <use href="assets/sprites/solid.svg#hands-holding"></use>
                    </svg>
                </div>
                <div class="icon-container">
                    <svg aria-hidden="true">
                        <use href="assets/sprites/solid.svg#scale-balanced"></use>
                    </svg>
                </div>
                <div class="icon-container">
                    <svg aria-hidden="true">
                        <use href="assets/sprites/solid.svg#shield"></use>
                    </svg>
                </div>
                <div class="icon-container">
                    <svg aria-hidden="true">
                        <use href="assets/sprites/solid.svg#maximize"></use>
                    </svg>
                </div>
            </div>
            <div class="flex flex-col gap-4">
                <details name="accordion">
                    <summary class="btn btn-accordion paragraph-md"><svg aria-hidden="true" class="icon-xs">
                            <use href="/assets/sprites/solid.svg#angle-down"></use>
                        </svg>Inclusive Pathways</summary>
                    <div class="accordion-content-wrapper">
                        <div class="flex flex-col">
                            <p>Create diverse licensing tracks, including non-degree options and
                                exams tailored to specific practice areas like residential or commercial design.</p>
                        </div>
                    </div>
                </details>
                <details name="accordion">
                    <summary class="btn btn-accordion paragraph-md"><svg aria-hidden="true" class="icon-xs">
                            <use href="/assets/sprites/solid.svg#angle-down"></use>
                        </svg>Professional Parity</summary>
                    <div class="accordion-content-wrapper">
                        <div class="flex flex-col">
                            <p>Establish independent or equal-representation boards and implement
                                mandatory, non-voluntary licensing for all interior design practitioners without
                                exemptions for other licensed professions.</p>
                        </div>
                    </div>
                </details>
                <details name="accordion">
                    <summary class="btn btn-accordion paragraph-md"><svg aria-hidden="true" class="icon-xs">
                            <use href="/assets/sprites/solid.svg#angle-down"></use>
                        </svg>Title Clarity</summary>
                    <div class="accordion-content-wrapper">
                        <div class="flex flex-col">
                            <p>Secure exclusive use of "Interior Designer" while restricting "Interior Architect" to
                                those with the degree and mandating "Licensed Architect" or "Registered Architect" for
                                architectural professionals.</p>
                        </div>
                    </div>
                </details>
                <details name="accordion">
                    <summary class="btn btn-accordion paragraph-md"><svg aria-hidden="true" class="icon-xs">
                            <use href="/assets/sprites/solid.svg#angle-down"></use>
                        </svg>Expanded Authority</summary>
                    <div class="accordion-content-wrapper">
                        <div class="flex flex-col">
                            <p>Grant designers full permitting privileges without restrictions,
                                including on square footage, occupancy, construction scope, and hiring and coordination
                                of professions.</p>
                        </div>
                    </div>
                </details>
            </div>
        </div>
        <div class="card gap-8 w-75 min-w-75 min-h-145 bg-neutral-four" role="group" aria-roledescription="slide"
            aria-label="card 2 of 7" tabindex="-1">
            <div class="flex flex-col gap-1">
                <p class="paragraph-accent">July 2026</p>
                <h3>Massachusetts S.3107</h3>
                <a class="link link--inline" href="https://malegislature.gov/Bills/194/S3107" target="_blank">Full bill
                    text</a>
            </div>
            <div class="flex flex-col gap-4">
                <h4>Voluntary Title Act</h4>
                <div class="flex gap-1"><svg class="icon-xs fill-current text-neutral-seven mt-1">
                        <use href="/assets/sprites/solid.svg#scale-unbalanced"></use>
                    </svg>
                    <p>Unequal Board & Exemptions</p>
                </div>
                <div class="flex gap-1 items-center"><svg class="icon-xs fill-current text-neutral-seven">
                        <use href="/assets/sprites/solid.svg#unlock"></use>
                    </svg>
                    <p>Public is Not Protected</p>
                </div>
                <div class="flex gap-1 items-center"><svg class="icon-xs fill-current text-neutral-seven">
                        <use href="/assets/sprites/solid.svg#question"></use>
                    </svg>
                    <p>Vague Scope Language</p>
                </div>
                <div class="flex gap-1 items-center"><svg class="icon-xs fill-current text-neutral-seven">
                        <use href="/assets/sprites/solid.svg#ban"></use>
                    </svg>
                    <p>Practice Restrictions</p>
                </div>
                <div class="flex gap-1"><svg class="icon-xs fill-current text-neutral-seven mt-1">
                        <use href="/assets/sprites/solid.svg#wave-square"></use>
                    </svg>
                    <p>Unrealistic Path for Existing ID's</p>
                </div>
            </div>
            <a class="link link--inline-green" href="/assets/docs/GTM_Testimony_MA_S3107_260711.pdf" target="_blank">Our
                position statement</a>
        </div>
        <div class="card gap-8 w-75 min-w-75 min-h-145 bg-neutral-four" role="group" aria-roledescription="slide"
            aria-label="card 2 of 7" tabindex="-1">
            <div class="flex flex-col gap-1">
                <p class="paragraph-accent">June 2026</p>
                <h3>California AB 1796</h3>
                <a class="link link--inline"
                    href="https://leginfo.legislature.ca.gov/faces/billTextClient.xhtml?bill_id=202520260AB1796"
                    target="_blank">Full bill text</a>
            </div>
            <div class="flex flex-col gap-4">
                <h4>Voluntary Title (and Practice?) Act</h4>
                <div class="flex gap-1"><svg class="icon-xs fill-current text-neutral-seven mt-1">
                        <use href="/assets/sprites/solid.svg#scale-unbalanced"></use>
                    </svg>
                    <p>Unequal Board & Exemptions</p>
                </div>
                <div class="flex gap-1 items-center"><svg class="icon-xs fill-current text-neutral-seven">
                        <use href="/assets/sprites/solid.svg#wave-square"></use>
                    </svg>
                    <p>No Clear Path for CIDs</p>
                </div>
                <div class="flex gap-1 items-center"><svg class="icon-xs fill-current text-neutral-seven">
                        <use href="/assets/sprites/solid.svg#link-slash"></use>
                    </svg>
                    <p>Misleading Statistics</p>
                </div>
                <div class="flex gap-1 items-center"><svg class="icon-xs fill-current text-neutral-seven">
                        <use href="/assets/sprites/solid.svg#unlock"></use>
                    </svg>
                    <p>Public is Not Protected</p>
                </div>
                <div class="flex gap-1 items-center"><svg class="icon-xs fill-current text-neutral-seven">
                        <use href="/assets/sprites/solid.svg#question"></use>
                    </svg>
                    <p>Vague & Restrictive Scope</p>
                </div>
            </div>
            <a class="link link--inline-green" href="/assets/docs/GTM_Testimony_CA_AB1796_260619-BPED.pdf"
                target="_blank">Our position statement</a>
            <button type="button" popovertarget="analysis-four" aria-haspopup="dialog" aria-controls="analysis-four"
                class="btn btn-icon justify-start open-analysis-btn">
                <svg class="icon-sm">
                    <use href="/assets/sprites/solid.svg#arrow-up-right-from-square"></use>
                </svg>Hearing Analysis
            </button>
        </div>
        <div class="card gap-8 w-75 min-w-75 min-h-145 bg-neutral-four" role="group" aria-roledescription="slide"
            aria-label="card 4 of 7" tabindex="-1">
            <div class="flex flex-col gap-1">
                <p class="paragraph-accent">April 2026</p>
                <h3>Missouri SB 1233</h3>
                <a class="link link--inline"
                    href="https://www.senate.mo.gov/BillTracking/Bills/BillInformation?handler=legislation&year=2026&session=R&billPrefix=SB&billSuffix=1233"
                    target="_blank">Full bill text</a>
            </div>
            <div class="flex flex-col gap-4">
                <h4>Voluntary Title Act</h4>
                <div class="flex gap-1 items-center"><svg class="icon-xs fill-current text-neutral-seven">
                        <use href="/assets/sprites/solid.svg#scale-unbalanced"></use>
                    </svg>
                    <p>Unequal Board</p>
                </div>
                <div class="flex gap-1 items-center"><svg class="icon-xs fill-current text-neutral-seven">
                        <use href="/assets/sprites/solid.svg#ban"></use>
                    </svg>
                    <p>Practice Restrictions</p>
                </div>
                <div class="flex gap-1 items-center"><svg class="icon-xs fill-current text-neutral-seven">
                        <use href="/assets/sprites/solid.svg#unlock"></use>
                    </svg>
                    <p>Public is not protected</p>
                </div>
                <div class="flex gap-1 items-center"><svg class="icon-xs fill-current text-neutral-seven">
                        <use href="/assets/sprites/solid.svg#question"></use>
                    </svg>
                    <p>Vague scope language</p>
                </div>
            </div>
            <a class="link link--inline-green" href="/assets/docs/GTM_Testimony_MO_SB1233.pdf" target="_blank">Our
                position
                statement</a>
        </div>
        <div class="card gap-8 w-75 min-w-75 min-h-145 bg-neutral-four" role="group" aria-roledescription="slide"
            aria-label="card 5 of 7" tabindex="-1">
            <div class="flex flex-col gap-1">
                <p class="paragraph-accent">April 2026</p>
                <h3>Tennessee SB 2224</h3>
                <a class="link link--inline"
                    href="https://wapp.capitol.tn.gov/apps/BillInfo/Default?BillNumber=SB2224&ga=114"
                    target="_blank">Full
                    bill text</a>
            </div>
            <div class="flex flex-col gap-4">
                <h4>Voluntary Title Act</h4>
                <div class="flex gap-1 items-center"><svg class="icon-xs fill-current text-neutral-seven">
                        <use href="/assets/sprites/solid.svg#ban"></use>
                    </svg>
                    <p>Eliminates Voluntary Licensing</p>
                </div>
                <div class="flex gap-1 items-center"><svg class="icon-xs fill-current text-neutral-seven">
                        <use href="/assets/sprites/solid.svg#unlock"></use>
                    </svg>
                    <p>Public is not protected</p>
                </div>
            </div>
            <a class="link link--inline-green" href="/assets/docs/GTM_Testimony_TN_SB2224-HB2530.pdf"
                target="_blank">Our
                position statement</a>
        </div>
        <div class="card gap-8 w-75 min-w-75 min-h-145 bg-neutral-four" role="group" aria-roledescription="slide"
            aria-label="card 6 of 7" tabindex="-1">
            <div class="flex flex-col gap-1">
                <p class="paragraph-accent">April 2026</p>
                <h3>Alaska HB 314</h3>
                <a class="link link--inline" href="https://www.akleg.gov/basis/Bill/Detail/34?Root=HB314"
                    target="_blank">Full bill text</a>
            </div>
            <div class="flex flex-col gap-4">
                <h4>Voluntary Title Act</h4>
                <div class="flex gap-1 items-center"><svg class="icon-xs fill-current text-neutral-seven">
                        <use href="/assets/sprites/solid.svg#scale-unbalanced"></use>
                    </svg>
                    <p>Unequal Board & Titles</p>
                </div>
                <div class="flex gap-1 items-center"><svg class="icon-xs fill-current text-neutral-seven">
                        <use href="/assets/sprites/solid.svg#question"></use>
                    </svg>
                    <p>Vague scope language</p>
                </div>
                <div class="flex gap-1 items-center"><svg class="icon-xs fill-current text-neutral-seven">
                        <use href="/assets/sprites/solid.svg#unlock"></use>
                    </svg>
                    <p>Public is not protected</p>
                </div>
            </div>
            <a class="link link--inline-green" href="/assets/docs/GTM_Testimony_AK_HB0314.pdf" target="_blank">Our
                position
                statement</a>
        </div>
        <div class="card gap-8 w-75 min-w-75 min-h-145 bg-neutral-four" role="group" aria-roledescription="slide"
            aria-label="card 7 of 7" tabindex="-1">
            <div class="flex flex-col gap-1">
                <p class="paragraph-accent">April 2026</p>
                <h3>South Carolina H5010</h3>
                <a class="link link--inline"
                    href="https://www.scstatehouse.gov/billsearch.php?billnumbers=5010&session126&summary=B"
                    target="_blank">Full bill text</a>
            </div>
            <div class="flex flex-col gap-4">
                <h4>Voluntary Title Act</h4>
                <div class="flex gap-1 items-center"><svg class="icon-xs fill-current text-neutral-seven">
                        <use href="/assets/sprites/solid.svg#scale-unbalanced"></use>
                    </svg>
                    <p>Unequal Board & Titles</p>
                </div>
                <div class="flex gap-1 items-center"><svg class="icon-xs fill-current text-neutral-seven">
                        <use href="/assets/sprites/solid.svg#ban"></use>
                    </svg>
                    <p>Practice Restrictions</p>
                </div>
                <div class="flex gap-1 items-center"><svg class="icon-xs fill-current text-neutral-seven">
                        <use href="/assets/sprites/solid.svg#question"></use>
                    </svg>
                    <p>Vague scope language</p>
                </div>
                <div class="flex gap-1 items-center"><svg class="icon-xs fill-current text-neutral-seven">
                        <use href="/assets/sprites/solid.svg#unlock"></use>
                    </svg>
                    <p>Public is not protected</p>
                </div>
            </div>
            <a class="link link--inline-green" href="/assets/docs/GTM_Testimony_SC_H5010.pdf" target="_blank">Our
                position
                statement</a>
        </div>
        <div class="card gap-8 w-75 min-w-75 min-h-145 bg-neutral-four" role="group" aria-roledescription="slide"
            aria-label="card 3 of 7" tabindex="-1">
            <div class="flex flex-col gap-1">
                <p class="paragraph-accent">March 2026</p>
                <h3>ICOR Practice Overlap</h3>
                <a class="link link--inline"
                    href="https://icor-reg.org/wp-content/uploads/2026/03/icor-practice-overlap-guidance.pdf"
                    target="_blank">ICOR Document</a>
            </div>
            <div class="flex flex-col gap-4">
                <details name="accordion">
                    <summary class="btn btn-accordion paragraph-md"><svg aria-hidden="true"
                            class="icon-xs fill-primary-one">
                            <use href="/assets/sprites/solid.svg#angle-down"></use>
                        </svg>Group 1</summary>
                    <div class="accordion-content-wrapper">
                        <div class="flex flex-col">
                            <p>Authority gaps on contracts & project management</p>
                        </div>
                    </div>
                </details>
                <details name="accordion">
                    <summary class="btn btn-accordion paragraph-md"><svg aria-hidden="true"
                            class="icon-xs fill-primary-one">
                            <use href="/assets/sprites/solid.svg#angle-down"></use>
                        </svg>Group 2</summary>
                    <div class="accordion-content-wrapper">
                        <div class="flex flex-col">
                            <p>Definitions narrower than actual practice</p>
                        </div>
                    </div>
                </details>
                <details name="accordion">
                    <summary class="btn btn-accordion paragraph-md"><svg aria-hidden="true"
                            class="icon-xs fill-primary-one">
                            <use href="/assets/sprites/solid.svg#angle-down"></use>
                        </svg>Group 3</summary>
                    <div class="accordion-content-wrapper">
                        <div class="flex flex-col">
                            <p>"No scope distinction" and "plan"/"collaborate" language
                                subordinates
                                designers</p>
                        </div>
                    </div>
                </details>
            </div>
            <a class="link link--inline-green" href="/assets/docs/GTM_ICOR_202603.pdf" target="_blank">Founder's
                Feedback to
                CIDQ</a>
        </div>
    </div>
</section>