<dialog id="disclaimer" aria-labelledby="disclaimer-title" aria-modal="true" popover>
    <div class="flex justify-between">
        <h2 id="disclaimer-title">Terms of Use / Disclaimer</h2>
        <button type="button" class="btn btn-icon btn-icon-lg btn-close-dialog" aria-label="close menu"
            popovertarget="disclaimer" popovertargetaction="hide">
            <svg class="icon-xs" aria-hidden="true">
                <use href="/assets/sprites/solid.svg#x"></use>
            </svg>
        </button>
    </div>
    <div class="flex flex-col gap-8 text-neutral-seven">
        <div class="flex flex-col">
            <p class="paragraph-md text-neutral-nine">We are not Lawyers</p>
            <p class="mb-2">The information provided on this website and through our social media accounts is
                for educational and informational purposes only and is not intended as professional advice. While The
                Green Tape Measure strives to provide accurate, current, and useful information, we make no
                representations or warranties of any kind about the completeness, reliability, accuracy, or
                suitability of this information. Your use of this information is at <b>your own risk</b>.
            </p>
            <p class="mb-2">The Green Tape Measure is not liable for any losses, damages, or legal claims
                that may arise from the use of content provided on its website or social media channels, or from
                participation in activities including, but not limited to, surveys, donations, newsletter sign-ups,
                and volunteer interest submissions.</p>
            <p>Any references to laws, regulations, or industry practices are provided for
                general awareness. Our position statements are provided for informational and advocacy purposes only.
                These references and statements should not be considered legal or regulatory advice, nor does it create
                an attorney-client relationship. For advice specific to your situation, please consult a qualified
                professional.</p>
        </div>
        <div class="flex flex-col">
            <p class="paragraph-md text-neutral-nine">Third-Party Links</p>
            <p>We are not responsible for content on third-party websites linked from this
                site, including social media platforms.</p>
        </div>
        <div class="flex flex-col">
            <p class="paragraph-md text-neutral-nine">Copyright and Trademarks</p>
            <p class="mb-2">All content created and shared by The Green Tape Measure, including but not
                limited to text, graphics, logos, designs, images, videos, and animations, is the property of The
                Green Tape Measure and is protected by copyright law. The company name "The Green Tape Measure", its
                logo, and its mascot "Scrib" are trademarks of The Green Tape Measure.</p>
            <p>This protection applies both to content on our website and to content we
                publish through external sites, including our official social media accounts. Unauthorized
                reproduction, redistribution, or use of our copyrighted or trademarked materials, whether
                from this website or our social media channels, is strictly prohibited without prior written
                permission.
            </p>
        </div>
        <p>By engaging with our content, whether on this website or content we have on
            external sites, you acknowledge and agree to these terms.</p>
        <p><i>Last updated: 25 May 2026</i></p>
    </div>
</dialog>