<dialog class="overflow-y-hidden gap-1 analysis-dialog" id="analysis-four"
    aria-label="CA AB 1796 April 2026 Hearing Analysis" aria-modal="true" popover>
    <div class="presentation-slider scrollbar" role="region" aria-roledescription="carousel"
        aria-label="analysis slides" id="analysis-four-slider">
        <div class="card presentation-slide" tabindex="-1" tabindex="-1" id="slide-4a" role="group"
            aria-roledescription="slide" aria-label="slide 1 of 2">
            <div class="flex justify-center items-center" id="pie-chart-4a-container">
                <picture id="pie-chart-4a-placeholder">
                    <source srcset="assets/images/graph_4a-dk-lg.webp" type="image/webp" media="(min-width: 1000px)"
                        data-theme="dark">
                    <source srcset="assets/images/graph_4a-dk-md.webp" type="image/webp" media="(min-width: 400px)"
                        data-theme="dark">
                    <source srcset="assets/images/graph_4a-dk-sm.webp" type="image/webp" media="(min-width: 300px)"
                        data-theme="dark">
                    <source srcset="assets/images/graph_4a-lt-lg.webp" type="image/webp" media="(min-width: 1000px)"
                        data-theme="light">
                    <source srcset="assets/images/graph_4a-lt-md.webp" type="image/webp" media="(min-width: 400px)"
                        data-theme="light">
                    <source srcset="assets/images/graph_4a-lt-sm.webp" type="image/webp" media="(min-width: 300px)"
                        data-theme="light">
                    <img src="assets/images/graph_4a-lt-md.png"
                        alt="a monochrome green graph showing 3 slices, one for each industry">
                </picture>
                <div id="pie-chart-4a"></div>
            </div>
            <div class="flex flex-col gap-4 xl:grow">
                <div class="flex flex-col gap-1">
                    <h3>Supporters</h3>
                    <h4>CA AB 1796 April 2026 Hearing</h4>
                    <p class="hidden js:block">Tap the graph or legend to see more details</p>
                </div>
                <div class="legend scrollbar">
                    <details name="accordion" class="max-w-86.25" data-series-index="0">
                        <summary class="btn btn-accordion"><svg aria-hidden="true" class="icon-xs">
                                <use href="/assets/sprites/solid.svg#angle-down"></use>
                            </svg>
                            <div class="flex gap-2 justify-between items-center xs:justify-start">
                                <svg class="icon-sm fill-current text-neutral-seven">
                                    <use href="/assets/sprites/solid.svg#person-shelter"></use>
                                </svg>
                                <p class="self-center text-neutral-seven">Interior Design</p>
                            </div>
                        </summary>
                        <div class="accordion-content-wrapper">
                            <div class="flex flex-col gap-2 ml-6">
                                <p class="paragraph-md">26 People</p>
                                <p>NCIDQ Credential (7), CID (3), NCIDQ Credential & CID
                                    (1), No Credential
                                    (15)</p>
                                <p>NOTE: "No credential" includes interior design / interior
                                    architecture
                                    students.</p>
                            </div>
                        </div>
                    </details>
                    <details name="accordion" class="max-w-86.25" data-series-index="1">
                        <summary class="btn btn-accordion"><svg aria-hidden="true" class="icon-xs">
                                <use href="/assets/sprites/solid.svg#angle-down"></use>
                            </svg>
                            <div class="flex gap-2 justify-between items-center xs:justify-start">
                                <svg class="icon-sm fill-current text-neutral-seven">
                                    <use href="/assets/sprites/solid.svg#house"></use>
                                </svg>
                                <p class="self-center text-neutral-seven">Architecture</p>
                            </div>
                        </summary>
                        <div class="accordion-content-wrapper">
                            <div class="flex flex-col gap-2 ml-6">
                                <p class="paragraph-md">9 People</p>
                                <p>Licensed Architect (1), Licensed Architect with NCIDQ
                                    credential (1), No
                                    Credential (7)</p>
                                <p>NOTE: "No credential" includes architecture students.</p>
                            </div>
                        </div>
                    </details>
                    <details name="accordion" class="max-w-86.25" data-series-index="2">
                        <summary class="btn btn-accordion"><svg aria-hidden="true" class="icon-xs">
                                <use href="/assets/sprites/solid.svg#angle-down"></use>
                            </svg>
                            <div class="flex gap-2 justify-between items-center xs:justify-start">
                                <svg class="icon-sm fill-current text-neutral-seven">
                                    <use href="/assets/sprites/solid.svg#briefcase"></use>
                                </svg>
                                <p class="self-center text-neutral-seven">Other</p>
                            </div>
                        </summary>
                        <div class="accordion-content-wrapper">
                            <div class="flex flex-col gap-2 ml-6">
                                <p class="paragraph-md">9 People</p>
                                <p>Sales, Politics, Business (6) + Unconfirmed Industry (3)
                                </p>
                                <p>NOTE: AIA is in this group since the representative for
                                    AIA was not an
                                    architect.</p>
                            </div>
                        </div>
                    </details>
                </div>
            </div>
        </div>
        <div class="card presentation-slide" tabindex="-1" tabindex="-1" id="slide-4b" role="group"
            aria-roledescription="slide" aria-label="slide 2 of 2">
            <div class="flex justify-center items-center" id="pie-chart-4b-container">
                <picture id="pie-chart-4b-placeholder">
                    <source srcset="assets/images/graph_4b-dk-lg.webp" type="image/webp" media="(min-width: 1000px)"
                        data-theme="dark">
                    <source srcset="assets/images/graph_4b-dk-md.webp" type="image/webp" media="(min-width: 400px)"
                        data-theme="dark">
                    <source srcset="assets/images/graph_4b-dk-sm.webp" type="image/webp" media="(min-width: 300px)"
                        data-theme="dark">
                    <source srcset="assets/images/graph_4b-lt-lg.webp" type="image/webp" media="(min-width: 1000px)"
                        data-theme="light">
                    <source srcset="assets/images/graph_4b-lt-md.webp" type="image/webp" media="(min-width: 400px)"
                        data-theme="light">
                    <source srcset="assets/images/graph_4b-lt-sm.webp" type="image/webp" media="(min-width: 300px)"
                        data-theme="light">
                    <img src="assets/images/graph_4a-lt-md.png"
                        alt="a monochrome green graph showing 2 slices, one for interior design and one for other">
                </picture>
                <div id="pie-chart-4b"></div>
            </div>
            <div class="flex flex-col gap-4 xl:grow">
                <div class="flex flex-col gap-1">
                    <h3>Opponents</h3>
                    <h4>CA AB 1796 April 2026 Hearing</h4>
                    <p class="hidden js:block">Tap the graph or legend to see more details</p>
                </div>
                <div class="legend scrollbar">
                    <details name="accordion" class="max-w-86.25" data-series-index="0">
                        <summary class="btn btn-accordion"><svg aria-hidden="true" class="icon-xs">
                                <use href="/assets/sprites/solid.svg#angle-down"></use>
                            </svg>
                            <div class="flex gap-2 justify-between items-center xs:justify-start">
                                <svg class="icon-sm fill-current text-neutral-seven">
                                    <use href="/assets/sprites/solid.svg#person-shelter"></use>
                                </svg>
                                <p class="self-center text-neutral-seven">Interior Design</p>
                            </div>
                        </summary>
                        <div class="accordion-content-wrapper">
                            <div class="flex flex-col gap-2 ml-6">
                                <p class="paragraph-md">9 People</p>
                                <p>CID (4) + No credential (5)</p>
                                <p>NOTE: No students were identified.</p>
                            </div>
                        </div>
                    </details>
                    <details name="accordion" class="max-w-86.25" data-series-index="1">
                        <summary class="btn btn-accordion paragraph-md"><svg aria-hidden="true" class="icon-xs">
                                <use href="/assets/sprites/solid.svg#angle-down"></use>
                            </svg>
                            <div class="flex gap-2 justify-between items-center xs:justify-start">
                                <svg class="icon-sm fill-current text-neutral-seven">
                                    <use href="/assets/sprites/solid.svg#briefcase"></use>
                                </svg>
                                <p class="self-center text-neutral-seven">Other</p>
                            </div>
                        </summary>
                        <div class="accordion-content-wrapper">
                            <div class="flex flex-col gap-2 ml-6">
                                <p class="paragraph-md">7 People</p>
                                <p>Legal, Politics, Business (5) + Unconfirmed Industry (2)
                                </p>
                            </div>
                        </div>
                    </details>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col items-center justify-between p-4 gap-4 sm:flex-row">
        <a href="https://calmatters.digitaldemocracy.org/hearings/279021#t=389&f=a93768e272476899c88de384d1d675a3"
            class="link link--inline-green skip-to-sources-btn text-left" target="_blank">April 21, 2026 hearing</a>
        <div class="gap-2 hidden js:flex">
            <div class="slide-dot"></div>
            <div class="slide-dot"></div>
        </div>
        <p class="block js:hidden">Scroll or swipe across to see the slides.</p>
        <div class="flex gap-4 justify-center">
            <button type="button" class="btn btn-icon btn-icon-lg analysis-prev-btn hidden js:flex"
                aria-label="previous slide" aria-controls="analysis-four-slider">
                <svg class="icon-xs" aria-hidden="true">
                    <use href="/assets/sprites/solid.svg#angle-left"></use>
                </svg>
            </button>
            <button type="button" class="btn btn-icon btn-icon-lg analysis-next-btn hidden js:flex"
                aria-label="next slide" aria-controls="analysis-four-slider">
                <svg class="icon-xs" aria-hidden="true">
                    <use href="/assets/sprites/solid.svg#angle-right"></use>
                </svg>
            </button>
            <button type="button" class="btn btn-icon btn-icon-lg btn-close-dialog" popovertarget="analysis-four"
                popovertargetaction="hide" aria-label="close analysis">
                <svg class="icon-xs" aria-hidden="true">
                    <use href="/assets/sprites/solid.svg#x"></use>
                </svg>
            </button>
        </div>
    </div>
</dialog>