<dialog id="privacy" aria-labelledby="privacy-title" aria-modal="true" popover>
    <div class="flex justify-between">
        <h2 id="privacy-title">Privacy Statement</h2>
        <button type="button" class="btn btn-icon btn-icon-lg btn-close-dialog" aria-label="close menu"
            popovertarget="privacy" popovertargetaction="hide">
            <svg class="icon-xs" aria-hidden="true">
                <use href="/assets/sprites/solid.svg#x"></use>
            </svg>
        </button>
    </div>
    <div class="flex flex-col gap-8 text-neutral-seven">
        <p>We respect your privacy and are committed to protecting your personal
            information.</p>
        <div class="flex flex-col">
            <p class="paragraph-md text-neutral-nine">Use of Cookies</p>
            <p>Our website does not utilize non-essential cookies, tracking technologies, or
                third-party marketing trackers.</p>
        </div>
        <div class="flex flex-col">
            <p class="paragraph-md text-neutral-nine">Strictly Necessary Cookies</p>
            <p>To function correctly and securely, our server may automatically set "strictly
                necessary" cookies. These are essential for the website to function properly and for security
                purposes, such as preventing fraudulent activity. These cookies do not collect personal information
                and are exempt from consent requirements under GDPR and other privacy laws.</p>
        </div>
        <div class="flex flex-col">
            <p class="paragraph-md text-neutral-nine">Data Handling</p>
            <p>No personal information is collected through these essential cookies, and they
                are not used to analyze visitor behavior or for advertising purposes.</p>
        </div>
        <div class="flex flex-col">
            <p class="paragraph-md text-neutral-nine">Control Options</p>
            <p>You can set your browser to refuse all cookies or to indicate when a cookie is
                being sent. However, if you do not accept these essential cookies, some parts of our site may not
                function properly.</p>
        </div>
        <div class="flex flex-col">
            <p class="paragraph-md text-neutral-nine">Contact Emails & Volunteer Form</p>
            <p>If you choose to contact us or submit a volunteer interest form, we collect the personal and professional
                information you provide (including your name, email, phone number, employment background, and
                professional links). This data is used solely to evaluate your volunteer eligibility, communicate
                regarding organizational opportunities, and manage internal volunteer operations. We do not sell, rent,
                or share your personal information with third-party marketers or outside entities. Unsubmitted drafts or
                rejected applications are securely deleted from our system.</p>
        </div>
        <div class="flex flex-col">
            <p class="paragraph-md text-neutral-nine">External Links</p>
            <p>Our website contains links to social media platforms and to other external
                sites.
                Please note that these platforms may collect information about your interaction with their content.
                We
                are not responsible for the privacy practices of these third-party platforms.</p>
        </div>
        <div class="flex flex-col">
            <p class="paragraph-md text-neutral-nine">Analytics</p>
            <p>We use privacy-friendly analytics (Umami) to understand general website
                traffic. No personal information is collected through this service.</p>
        </div>
        <div class="flex flex-col">
            <p class="paragraph-md text-neutral-nine">Updates</p>
            <p>This Privacy Policy may be updated from time to time. The most current version
                will always be available on this website.</p>
        </div>
        <p><i>Last updated: 10 June 2026</i></p>
    </div>
</dialog>