<section class="mt-21 " id="hero">
    <div class="flex gap-8">
        <div
            class="flex flex-col gap-8 items-center animate-slideInLeft sm:max-w-87.5 md:max-w-100 xl:max-w-125 xxl:max-w-175 xxl:items-start">
            <h1>
                <picture>
                    <source srcset="assets/images/hero-img-dk-lg.webp" type="image/webp" media="(min-width: 1280px)"
                        data-theme="dark">
                    <source srcset="assets/images/hero-img-lt-lg.webp" type="image/webp" media="(min-width: 1280px)"
                        data-theme="light">
                    <source srcset="assets/images/hero-img-dk-med.webp" type="image/webp" media="(min-width: 850px)"
                        data-theme="dark">
                    <source srcset="assets/images/hero-img-lt-med.webp" type="image/webp" media="(min-width: 850px)"
                        data-theme="light">
                    <source srcset="assets/images/hero-img-dk-sm.webp" type="image/webp" media="(min-width: 450px)"
                        data-theme="dark">
                    <source srcset="assets/images/hero-img-dk-sm.webp" type="image/webp" media="(min-width: 450px)"
                        data-theme="light">
                    <source srcset="assets/images/hero-img-dk-xsm.webp" type="image/webp" media="(min-width: 300px)"
                        data-theme="dark">
                    <source srcset="assets/images/hero-img-dk-xsm.webp" type="image/webp" media="(min-width: 300px)"
                        data-theme="light">
                    <img src="assets/images/hero-img-lt-sm.png" alt="Interior Design Has Been Stolen">
                </picture>
            </h1>
            <p class="opacity-0 animate-appear [animation-delay:1000ms] text-base/[24px] lg:text-lg/[32px]">
                Uncovering
                the real-world consequences of unequal regulation on
                design safety and careers through data-driven investigations.</p>
            <div
                class="flex flex-col w-full max-w-150 gap-6 opacity-0 animate-appear [animation-delay:2000ms] lg:flex-row">
                <a href="#takeaction" class="btn btn-lg btn-primary w-full max-w-100">Support Our
                    Mission
                    <svg aria-hidden="true"
                        class="icon-xs text-neutral-two-dark transition-transform duration-750 ease-in-out hover:translate-x-1">
                        <use href="/assets/sprites/solid.svg#arrow-right"></use>
                    </svg></a>
                <a href="#research" class="btn btn-lg btn-secondary w-full max-w-100">Explore Findings</a>
            </div>
        </div>
        <picture class="animate-slideInRight xxs:hidden sm:block">
            <source srcset="assets/images/hero-scrib-lg.webp" type="image/webp" media="(min-width: 1280px)"
                data-theme="dark, light">
            <source srcset="assets/images/hero-scrib-med.webp" type="image/webp" media="(min-width: 1000px)"
                data-theme="dark, light">
            <source srcset="assets/images/hero-scrib-sm.webp" type="image/webp" media="(min-width: 700px)"
                data-theme="dark, light">
            <source srcset="assets/images/hero-scrib-xsm.webp" type="image/webp" media="(min-width: 300px)"
                data-theme="dark, light">
            <img src="assets/images/hero-scrib-sm.png"
                alt="the GTM mascot scrib, a mix between a monkey and an otter with green eyes, looking towards the upper-left of the screen">
        </picture>
    </div>
    <div class="flex items-center justify-center py-10 -mt-10 transition-opacity duration-750 ease-in animate-appearAlt delay-1000"
        id="scroll-indicator">
        <svg class="icon-lg fill-current text-primary-one animate-bounce [animation-delay: 2.5s]">
            <use href="/assets/sprites/solid.svg#angles-down"></use>
        </svg>
    </div>
</section>