<!DOCTYPE html>
<html class="scroll-smooth overflow-x-hidden transition-colors duration-300 ease-in-out" lang="en" data-theme="dark">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Protecting public safety and elevating interior design. The Green Tape Measure advocates for recognized, standard-driven, and respected design careers. Learn more.">
  <title>The Green Tape Measure</title>
  <link rel="stylesheet" href="/assets/fonts/fontawesome/css/all.css">
  <link rel="stylesheet" href="css/output.css" />
  <link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg">
  <link rel="alternate icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
  <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
  <link rel="manifest" href="/site.webmanifest">
  <script src="js/detect.js"></script>
</head>

<body
  class="overflow-x-hidden w-screen min-w-full text-base font-base font-normal [interpolate-size:allow-keywords] bg-neutral-three text-neutral-seven transition-colors duration-300 ease-in-out">
  <input type="checkbox" id="mode-toggle" class="peer hidden">

  <a href="#main-content" class="skip-link">Skip to main content</a>

  <dialog class="p-0" id="mobile-nav-menu" aria-label="navigation menu and settings" aria-modal="true" popover>
    <div class="flex px-4 pt-8 pb-2 justify-between items-end bg-neutral-one">
      <picture class="mb-1">
        <source srcset="assets/images/logo-dk.webp" type="image/webp" media="all" data-theme="dark">
        <source srcset="assets/images/logo-lt.webp" type="image/webp" media="all" data-theme="light">
        <img src="assets/images/logo-lt.png" alt="GTM logo that resembles a green tape measure">
      </picture>
      <div class="flex gap-6 items-center">
        <label role="button" for="mode-toggle" class="toggle cursor-pointer select-none" tabindex="0"
          aria-label="dark mode on"><span class="slider pointer-events-none"><svg aria-hidden="true"
              class="toggle-moon text-neutral-two-light w-4 h-4">
              <use href="/assets/sprites/solid.svg#moon"></use>
            </svg><svg aria-hidden="true" class="toggle-sun text-neutral-two-light w-4 h-4">
              <use href="/assets/sprites/solid.svg#sun"></use>
            </svg></span>
        </label>
        <button type="button" class="btn btn-icon btn-icon-lg btn-close-dialog" aria-label="close menu"
          popovertarget="mobile-nav-menu" popovertargetaction="hide">
          <svg class="icon-xs" aria-hidden="true">
            <use href="/assets/sprites/solid.svg#x"></use>
          </svg>
        </button>
      </div>
    </div>
    <p class="sr-only" id="return-to-nav"></p>
    <nav class="flex flex-col grow px-4 pb-8 bg-neutral-two justify-evenly" aria-label="Mobile Navigation">
      <a class="link link--nav-mobile" href="#about">About</a>
      <a class="link link--nav-mobile" href="#quiz">Quiz</a>
      <a class="link link--nav-mobile" href="#timeline">Timeline</a>
      <a class="link link--nav-mobile" href="#research">Research</a>
      <a class="link link--nav-mobile" href="#advocacy">Advocacy</a>
      <a class="link link--nav-mobile bg-neutral-two text-secondary-one active:bg-neutral-four active:text-secondary-one"
        href="#takeaction">Take Action</a>
    </nav>
  </dialog>

  <dialog id="search-overlay" aria-label="Search" aria-modal="true" popover>
    <div class="fixed flex flex-col inset-0 z-50 bg-neutral-one p-6 gap-4" id="mobile-search-form">
      <div class="flex gap-2 items-center">
        <label for="search-mobile" class="sr-only">Search</label>
        <input type="search" id="search-mobile" name="q" class="flex-1" placeholder="Search the site..."
          autocomplete="off">
        <button type="button" class="btn btn-icon btn-icon-lg btn-close-dialog" aria-label="close search"
          popovertarget="search-overlay" popovertargetaction="hide">
          <svg class="icon-xs" aria-hidden="true">
            <use href="/assets/sprites/solid.svg#x"></use>
          </svg>
        </button>
      </div>
      <ul id="search-results-mobile" role="listbox" aria-label="Search results"
        class="flex flex-col overflow-y-auto mt-2"></ul>
    </div>
  </dialog>

  <header
    class="fixed z-10 w-full max-w-dvw flex p-4 justify-between bg-neutral-two animate-moveDown transition-transform duration-300"
    id="header">
    <div class="flex gap-4 items-end">
      <a href="#">
        <picture class="mb-1">
          <source srcset="assets/images/logo-dk.webp" type="image/webp" media="all" data-theme="dark">
          <source srcset="assets/images/logo-lt.webp" type="image/webp" media="all" data-theme="light">
          <img src="assets/images/logo-lt.png" alt="GTM logo that resembles a green tape measure">
        </picture>
      </a>
      <p class="font-name text-primary-one text-xl tracking-wide -mb-1.25 uppercase hidden xxl:block">
        The
        Green Tape Measure</p>
    </div>
    <nav class="gap-8 items-end hidden lg:flex" id="desktop-nav">
      <a class="link link--nav" href="#about">About</a>
      <a class="link link--nav" href="#quiz">Quiz</a>
      <a class="link link--nav" href="#timeline">Timeline</a>
      <a class="link link--nav" href="#research">Research</a>
      <a class="link link--nav" href="#advocacy">Advocacy</a>
    </nav>
    <form class="relative items-center gap-2 xxs:hidden js:xl:flex" role="search">
      <label for="search" class="sr-only">Search</label>
      <div
        class="flex items-stretch bg-neutral-eight border border-solid border-neutral-six rounded-lg overflow-hidden focus-within:ring-2 focus-within:ring-primary-one">
        <input type="search" name="search"
          class="w-37.5 xxl:w-50 h-10 px-3 bg-transparent text-white placeholder-neutral-seven outline-none focus:outline-none"
          id="search" placeholder="search..." autocomplete="off" role="combobox" aria-expanded="false"
          aria-haspopup="listbox" aria-autocomplete="list" aria-controls="search-results">
        <button type="submit"
          class="btn bg-neutral-six px-3 h-11.25 flex items-center justify-center hover:bg-primary-five transition-colors duration-150"
          aria-label="Search">
          <svg aria-hidden="true" class="w-6 h-6 text-neutral-seven">
            <use href="/assets/sprites/solid.svg#magnifying-glass"></use>
          </svg>
        </button>
      </div>
      <ul id="search-results" role="listbox" aria-label="Search results" class="search-dropdown">
      </ul>
    </form>
    <div class="flex gap-6 pb-1 items-center xl:items-end">
      <a class="btn btn-md btn-cta hidden lg:block" href="#takeaction">Take Action</a>
      <label role="button" for="mode-toggle" class="toggle hidden cursor-pointer select-none lg:block" tabindex="0"
        aria-label="dark mode on"><span class="slider pointer-events-none"><svg aria-hidden="true"
            class="toggle-moon text-neutral-two-light w-4 h-4">
            <use href="/assets/sprites/solid.svg#moon"></use>
          </svg><svg aria-hidden="true" class="toggle-sun text-neutral-two-light w-4 h-4">
            <use href="/assets/sprites/solid.svg#sun"></use>
          </svg></span>
      </label>
      <button type="button" popovertarget="search-overlay" aria-controls="search-overlay"
        class="btn btn-icon hidden js:flex xxl:hidden" id="search-open" aria-label="Open search">
        <svg class="icon-sm" aria-hidden="true">
          <use href="/assets/sprites/solid.svg#magnifying-glass"></use>
        </svg>
      </button>
      <button type="button" popovertarget="mobile-nav-menu" aria-controls="mobile-nav-menu"
        class="btn btn-icon lg:hidden" id="mobile-nav-btn" aria-label="open menu">
        <svg class="icon-lg" aria-hidden="true">
          <use href="/assets/sprites/solid.svg#bars"></use>
        </svg>
      </button>
    </div>
  </header>

  <main class="flex flex-col gap-31" id="main-content">
    <span class="sr-only" aria-live="polite" id="live-region"></span>
    {{ content }}
  </main>

  <div id="footer-scroll-sentinel" class="h-px w-full"></div>

  <footer
    class="flex flex-col p-4 gap-10 justify-between bg-neutral-two transition-opacity duration-500 ease-in-out js:opacity-0 js:pointer-events-none lg:p-10 xl:flex-row xl:p-15 xl:gap-20 xl:justify-between xxl:p-19">
    <div class="flex flex-col gap-8 xl:max-w-150">
      <div class="flex items-end gap-3 border-b border-primary-one pb-2">
        <picture>
          <source srcset="assets/images/logo-dk.webp" type="image/webp" media="all" data-theme="dark">
          <source srcset="assets/images/logo-lt.webp" type="image/webp" media="all" data-theme="light">
          <img src="assets/images/logo-lt.png" alt="GTM logo that resembles a green tape measure">
        </picture>
        <p class="paragraph-md text-neutral-nine -mb-1.5">Research. Educate. Advance.</p>
      </div>
      <div class="flex gap-6">
        <a class="btn btn-icon" href="https://www.linkedin.com/company/gtmeasure" aria-label="LinkedIn" target="_blank">
          <svg class="icon-sm text-neutral-seven hover:text-primary-two" aria-hidden="true">
            <use href="/assets/sprites/brands.svg#linkedin"></use>
          </svg>
        </a>
        <a class="btn btn-icon" href="https://www.instagram.com/gtmeasure" aria-label="Instagram" target="_blank">
          <svg class="icon-sm text-neutral-seven hover:text-primary-two" aria-hidden="true">
            <use href="/assets/sprites/brands.svg#instagram"></use>
          </svg>
        </a>
        <a class="btn btn-icon" href="https://www.youtube.com/@GTMeasure" aria-label="YouTube" target="_blank">
          <svg class="icon-sm text-neutral-seven hover:text-primary-two" aria-hidden="true">
            <use href="/assets/sprites/brands.svg#youtube"></use>
          </svg>
        </a>
      </div>
      <p class="text-sm">© <span class="text-sm text-neutral-seven" id="year">2026</span> The Green Tape
        Measure Foundation. The Green Tape Measure is a registered assumed name of The Green Tape Measure Foundation,
        a
        North Carolina nonprofit corporation.</p>
    </div>
    <div class="flex flex-col gap-15 sm:flex-row">
      <div class="flex gap-10">
        <div class="flex flex-col gap-4 min-w-22.5">
          <p class="paragraph-md text-neutral-nine">Site Map</p>
          <ul class="list-none flex flex-col gap-2">
            <li><a href="#" class="link link--inline no-underline">Top</a></li>
            <li><a href="#about" class="link link--inline no-underline">About</a></li>
            <li><a href="#quiz" class="link link--inline no-underline">Quiz</a></li>
            <li><a href="#timeline" class="link link--inline no-underline">Timeline</a></li>
            <li><a href="#research" class="link link--inline no-underline">Research</a></li>
            <li><a href="#advocacy" class="link link--inline no-underline">Advocacy</a></li>
            <li><a href="#takeaction" class="link link--inline no-underline">Take Action</a></li>
          </ul>
        </div>
        <div class="flex flex-col gap-4 min-w-28">
          <p class="paragraph-md text-neutral-nine">Legal</p>
          <ul class="list-none flex flex-col gap-2">
            <li><button type="button" popovertarget="disclaimer" aria-haspopup="dialog" aria-controls="disclaimer"
                class="link link--inline no-underline text-base text-left">Disclaimer</button></li>
            <li><button popovertarget="privacy" aria-haspopup="dialog" aria-controls="privacy"
                class="link link--inline no-underline text-base text-left">Privacy Policy</button></li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col gap-4 min-w-61">
        <p class="paragraph-md text-neutral-nine">Contact</p>
        <address class="not-italic">
          The Green Tape Measure<br>
          2920 Forestville Road<br>
          Ste 100 PMB 1294<br>
          Raleigh, NC 27616<br>
          <a href="mailto:info@thegreentapemeasure.org" class="link link--inline">info@thegreentapemeasure.org</a><br>
          <a href="tel:+19192299864" class="link link--inline">(919) 229-9864</a>
        </address>
      </div>
    </div>
  </footer>

  {% include "dialog-analysisone.html" %}
  {% include "dialog-analysistwo.html" %}
  {% include "dialog-analysisthree.html" %}
  {% include "dialog-analysisfour.html" %}
  {% include "dialog-disclaimer.html" %}
  {% include "dialog-privacy.html" %}

  <script defer src="js/app.js"></script>
  <script async defer src="https://gtm-analytics.netlify.app/script.js"
    data-website-id="b47a8c46-831e-4bf1-94c2-f027647a7467"></script>
</body>

</html>