<section id="research">
    <a href="#main-nav-link" class="sr-only">Return to nav</a>
    <div class="flex flex-col gap-1 text-center xxl:w-375">
        <p class="paragraph-accent">Industry Insights</p>
        <h2>Data. Analysis. <span class="text-primary-one">Results</span>.</h2>
        <p class="paragraph-md">Research is GTM's foundation. We analyze controversial industry questions and heated
            topics objectively, providing all data and sources so you can draw your own conclusions.</p>
    </div>
    <div class="flex gap-6 text-center justify-center xxl:w-375" id="research-btns">
        <p class="block js:hidden">On smaller screens, scroll or swipe across to see the cards.</p>
        <button type="button" class="btn btn-icon btn-icon-lg hidden js:flex cards-prev-btn"
            aria-label="see previous legislation" aria-controls="research-cards">
            <svg class="icon-xs" aria-hidden="true">
                <use href="/assets/sprites/solid.svg#angle-left"></use>
            </svg>
        </button>
        <button type="button" class="btn btn-icon btn-icon-lg hidden js:flex cards-next-btn"
            aria-label="see next legislation" aria-controls="research-cards">
            <svg class="icon-xs" aria-hidden="true">
                <use href="/assets/sprites/solid.svg#angle-right"></use>
            </svg>
        </button>
    </div>
    <div class="cards-container xxl:justify-center" id="research-cards" role="region" aria-roledescription="carousel"
        aria-label="Latest Research">
        <div class="card gap-0 justify-between w-75 min-w-75 h-129 bg-neutral-four" role="group"
            aria-roledescription="slide" aria-label="card 1 of 3" tabindex="-1">
            <div class="flex flex-col gap-1">
                <p class="paragraph-accent">July 2025</p>
                <h3>Fire, Design, and Liability</h3>
                <p>Yes, interior design can kill. Here is an analysis of 42 examples and counting.</p>
            </div>
            <picture>
                <source srcset="assets/images/Graph-one-dk.webp" type="image/webp" media="(min-width: 0px)"
                    data-theme="dark">
                <source srcset="assets/images/Graph-one-lt.webp" type="image/webp" media="(min-width: 0px)"
                    data-theme="light">
                <img src="assets/images/Graph-one-lt.png"
                    alt="a monochrome green bar graph with 13 bars of varying heights">
            </picture>
            <button type="button" popovertarget="analysis-one" aria-haspopup="dialog" aria-controls="analysis-one"
                class="btn btn-icon justify-start open-analysis-btn">
                <svg class="icon-sm">
                    <use href="/assets/sprites/solid.svg#arrow-up-right-from-square"></use>
                </svg>Open Analysis
            </button>
        </div>
        <div class="card gap-0 justify-between w-75 min-w-75 h-129 bg-neutral-four" role="group"
            aria-roledescription="slide" aria-label="card 2 of 3" tabindex="-1">
            <div class="flex flex-col gap-1">
                <p class="paragraph-accent">July 2025</p>
                <h3>Interiors (De)regulated</h3>
                <p>An overview of interior design legislation since the 1980s and current bills in each state.</p>
            </div>
            <picture>
                <source srcset="assets/images/Graph-two-dk.webp" type="image/webp" media="(min-width: 0px)"
                    data-theme="dark">
                <source srcset="assets/images/Graph-two-lt.webp" type="image/webp" media="(min-width: 0px)"
                    data-theme="light">
                <img src="assets/images/Graph-two-lt.png"
                    alt="a monochrome green line graph with 4 lines, 3 increasing, 1 decreasing">
            </picture>
            <button type="button" popovertarget="analysis-three" aria-haspopup="dialog" aria-controls="analysis-three"
                class="btn btn-icon justify-start open-analysis-btn">
                <svg class="icon-sm">
                    <use href="/assets/sprites/solid.svg#arrow-up-right-from-square"></use>
                </svg>Open Analysis
            </button>
        </div>
        <div class="card gap-0 justify-between w-75 min-w-75 h-129 bg-neutral-four" role="group"
            aria-roledescription="slide" aria-label="card 3 of 3" tabindex="-1">
            <div class="flex flex-col gap-1">
                <p class="paragraph-accent">September 2025</p>
                <h3>Arch vs Interiors</h3>
                <p>Different education. Different exams. Different Professions.</p>
            </div>
            <picture>
                <source srcset="assets/images/Graph-three-dk.webp" type="image/webp" media="(min-width: 0px)"
                    data-theme="dark">
                <source srcset="assets/images/Graph-three-lt.webp" type="image/webp" media="(min-width: 0px)"
                    data-theme="light">
                <img src="assets/images/Graph-three-lt.png"
                    alt="a monochrome green pie chart with one pie slice noted as 8%">
            </picture>
            <button type="button" popovertarget="analysis-two" aria-haspopup="dialog" aria-controls="analysis-two"
                class="btn btn-icon justify-start open-analysis-btn">
                <svg class="icon-sm">
                    <use href="/assets/sprites/solid.svg#arrow-up-right-from-square"></use>
                </svg>Open Analysis
            </button>
            <a class="link link--inline-green" href="/assets/docs/2025_GTM_ARCHandID.pdf" target="_blank">Read the Full
                Report</a>
        </div>
    </div>
</section>