<section class="bg-neutral-one gap-16 items-center" id="timeline">
    <a href="#main-nav-link" class="sr-only">Return to nav</a>
    <div class="flex flex-col gap-1 w-full">
        <p class="paragraph-accent">Archive Logs</p>
        <h2>Industry Regulation: Evolution & Impact</h2>
        <p class="paragraph-md">Regulation is often a reactive response to historical events, frequently shaped by
            industry politics and territorial disputes.</p>
        <p class="js:hidden">Scroll or swipe to see the next or previous event.</p>
    </div>
    <div class="relative w-full min-h-137.5 max-w-350 js:max-w-none" id="timeline-container">
        <div class="flex w-full items-center absolute top-13 z-2">
            <button type="button" class="btn btn-icon btn-icon-lg z-1 hidden js:flex" id="timeline-prev-btn"
                aria-label="see previous event">
                <svg class="icon-xs" aria-hidden="true">
                    <use href="/assets/sprites/solid.svg#angle-left"></use>
                </svg>
            </button>
            <div class="flex flex-col w-full items-center z-0 h-px bg-primary-one">
            </div>
            <button type="button" class="btn btn-icon btn-icon-lg z-1 hidden js:flex" id="timeline-next-btn"
                aria-label="see next event">
                <svg class="icon-xs" aria-hidden="true">
                    <use href="/assets/sprites/solid.svg#angle-right"></use>
                </svg>
            </button>
        </div>
        <div
            class="flex gap-12.5 pl-12 pr-12 overflow-x-auto scroll-smooth snap-x snap-mandatory scrollbar-none relative z-1">
            <div class="timeline-event">
                <div class="timeline-event-descript">
                    <div class="icon-container">
                        <svg aria-hidden="true">
                            <use href="assets/sprites/solid.svg#people-group"></use>
                        </svg>
                    </div>
                    <h3>AIA</h3>
                    <p>The American Institute of Architects is formed.</p>
                    <div class="w-full">
                        <details name="accordion">
                            <summary class="btn btn-accordion justify-center"><svg aria-hidden="true" class="icon-xs">
                                    <use href="/assets/sprites/solid.svg#angle-down"></use>
                                </svg>Sources</summary>
                            <div class="accordion-content-wrapper">
                                <div class="flex flex-col pl-6 gap-4">
                                    <p class="break-all">NCARB. <a class="link link--inline"
                                            href="https://centennial.ncarb.org/beginning-of-licensure"
                                            target="_blank">The
                                            Need for
                                            Regulation:
                                            The Rise of Professions</a>. NCARB (2025). Available at:
                                        https://centennial.ncarb.org/beginning-of-licensure (Accessed 27 September
                                        2025).
                                    </p>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="timeline-marker"></div>
                <p class="timeline-date">1857</p>
            </div>
            <div class="timeline-event">
                <div class="timeline-event-descript">
                    <div class="icon-container">
                        <svg aria-hidden="true">
                            <use href="assets/sprites/solid.svg#gavel"></use>
                        </svg>
                    </div>
                    <h3>Architecture Regulation</h3>
                    <p>Illinois is the first state to regulate architecture.</p>
                    <div class="w-full">
                        <details name="accordion">
                            <summary class="btn btn-accordion justify-center"><svg aria-hidden="true" class="icon-xs">
                                    <use href="/assets/sprites/solid.svg#angle-down"></use>
                                </svg>Sources</summary>
                            <div class="accordion-content-wrapper">
                                <div class="flex flex-col pl-6 gap-4">
                                    <p class="break-all">NCARB. <a class="link link--inline"
                                            href="https://centennial.ncarb.org/beginning-of-licensure"
                                            target="_blank">The
                                            Need for
                                            Regulation:
                                            The First License Law</a>. NCARB (2025). Available at:
                                        https://centennial.ncarb.org/beginning-of-licensure (Accessed 27 September
                                        2025).
                                    </p>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="timeline-marker"></div>
                <p class="timeline-date">1897</p>
            </div>
            <div class="timeline-event">
                <div class="timeline-event-descript">
                    <div class="icon-container">
                        <svg class="text-secondary-one" aria-hidden="true">
                            <use href="assets/sprites/solid.svg#fire"></use>
                        </svg>
                    </div>
                    <h3>Theater Fire</h3>
                    <p>Theater fire kills 602 due to flammable finishes & poor egress.</p>
                    <div class="w-full">
                        <details name="accordion">
                            <summary class="btn btn-accordion justify-center"><svg aria-hidden="true" class="icon-xs">
                                    <use href="/assets/sprites/solid.svg#angle-down"></use>
                                </svg>Sources</summary>
                            <div class="accordion-content-wrapper">
                                <div class="flex flex-col pl-6 gap-4">
                                    <p class="break-all">Massasoit Community College. <a class="link link--inline"
                                            href="https://library.massasoit.edu/americanfires/iroquois"
                                            target="_blank">Major American
                                            Fires:
                                            Iroquois Theater Fire - 1903</a>. Massasoit Community College (2017).
                                        Available
                                        at:
                                        https://library.massasoit.edu/americanfires/iroquois (Accessed 27 September
                                        2025).
                                    </p>
                                    <p class="break-all">Uenuma, Francine. <a class="link link--inline"
                                            href="https://www.smithsonianmag.com/history/how-theater-blaze-killed-hundreds-forever-changed-way-we-approach-fire-safety-180969315/"
                                            target="_blank">The Iroquois Theater Disaster Killed Hundreds andChanged
                                            Fire
                                            Safety
                                            Forever</a>.
                                        Smithsonian Magazine, 12 June 2018. Available at:
                                        https://www.smithsonianmag.com/history/how-theater-blaze-killed-hundreds-forever-changed-way-we-approach-fire-safety-180969315/
                                        (Accessed 27 September 2025).
                                    </p>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="timeline-marker"></div>
                <p class="timeline-date">1903</p>
            </div>
            <div class="timeline-event">
                <div class="timeline-event-descript">
                    <div class="icon-container">
                        <svg class="text-secondary-one" aria-hidden="true">
                            <use href="assets/sprites/solid.svg#fire"></use>
                        </svg>
                    </div>
                    <h3>Factory Fire</h3>
                    <p>A factory fire kills 146, mostly due to poor egress.</p>
                    <div class="w-full">
                        <details name="accordion">
                            <summary class="btn btn-accordion justify-center"><svg aria-hidden="true" class="icon-xs">
                                    <use href="/assets/sprites/solid.svg#angle-down"></use>
                                </svg>Sources</summary>
                            <div class="accordion-content-wrapper">
                                <div class="flex flex-col pl-6 gap-4">
                                    <p class="break-all">AFL-CIO. <a class="link link--inline"
                                            href="https://aflcio.org/about/history/labor-history-events/triangle-shirtwaist-fire"
                                            target="_blank">Triangle Shirtwaist Fire</a>. AFL-CIO (2025). Available at:
                                        https://aflcio.org/about/history/labor-history-events/triangle-shirtwaist-fire
                                        (Accessed 27
                                        September 2025).
                                    </p>
                                    <p class="break-all">History.com Editors. <a class="link link--inline"
                                            href="https://www.history.com/articles/triangle-shirtwaist-fire"
                                            target="_blank">Triangle
                                            Shirtwaist
                                            Factory Fire</a>. History.com, 2 Dec. 2009. Available at:
                                        https://www.history.com/articles/triangle-shirtwaist-fire (Accessed 27
                                        September 2025).
                                    </p>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="timeline-marker"></div>
                <p class="timeline-date">1911</p>
            </div>
            <div class="timeline-event">
                <div class="timeline-event-descript">
                    <div class="icon-container">
                        <svg aria-hidden="true">
                            <use href="assets/sprites/solid.svg#people-group"></use>
                        </svg>
                    </div>
                    <h3>NCARB</h3>
                    <p>The National Council of Architectural Registration Board (NCARB) is formed.</p>
                    <div class="w-full">
                        <details name="accordion">
                            <summary class="btn btn-accordion justify-center"><svg aria-hidden="true" class="icon-xs">
                                    <use href="/assets/sprites/solid.svg#angle-down"></use>
                                </svg>Sources</summary>
                            <div class="accordion-content-wrapper">
                                <div class="flex flex-col pl-6 gap-4">
                                    <p class="break-all">NCARB. <a class="link link--inline"
                                            href="https://www.ncarb.org/about/history-ncarb" target="_blank">History of
                                            NCARB</a>. NCARB
                                        (2025). Available at:
                                        https://www.ncarb.org/about/history-ncarb (Accessed 27 September 2025).
                                    </p>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="timeline-marker"></div>
                <p class="timeline-date">1919</p>
            </div>
            <div class="timeline-event">
                <div class="timeline-event-descript">
                    <div class="icon-container">
                        <svg aria-hidden="true">
                            <use href="assets/sprites/solid.svg#people-group"></use>
                        </svg>
                    </div>
                    <h3>AIID</h3>
                    <p>American Institute of Interior Decorators is formed.</p>
                    <div class="w-full">
                        <details name="accordion">
                            <summary class="btn btn-accordion justify-center"><svg aria-hidden="true" class="icon-xs">
                                    <use href="/assets/sprites/solid.svg#angle-down"></use>
                                </svg>Sources</summary>
                            <div class="accordion-content-wrapper">
                                <div class="flex flex-col pl-6 gap-4">
                                    <p class="break-all">ASID. <a class="link link--inline"
                                            href="https://www.asid.org/50years" target="_blank">A
                                            History
                                            of the American Society of Interior Designers</a>. ASID (2025). Available
                                        at:
                                        https://www.asid.org/50years (Accessed 27 September 2025).
                                    </p>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="timeline-marker"></div>
                <p class="timeline-date">1931</p>
            </div>
            <div class="timeline-event">
                <div class="timeline-event-descript">
                    <div class="icon-container">
                        <svg aria-hidden="true">
                            <use href="assets/sprites/solid.svg#people-group"></use>
                        </svg>
                    </div>
                    <h3>NAAB</h3>
                    <p>National Architectural Accrediting Board (NAAB) is formed.</p>
                    <div class="w-full">
                        <details name="accordion">
                            <summary class="btn btn-accordion justify-center"><svg aria-hidden="true" class="icon-xs">
                                    <use href="/assets/sprites/solid.svg#angle-down"></use>
                                </svg>Sources</summary>
                            <div class="accordion-content-wrapper">
                                <div class="flex flex-col pl-6 gap-4">
                                    <p class="break-all">NAAB. <a class="link link--inline"
                                            href="https://www.naab.org/who-we-are/our-history" target="_blank">Our
                                            History:
                                            Why
                                            Accreditation?</a>. NAAB (2025). Available at:
                                        https://www.naab.org/who-we-are/our-history (Accessed 27 September 2025).
                                    </p>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="timeline-marker"></div>
                <p class="timeline-date">1940</p>
            </div>
            <div class="timeline-event">
                <div class="timeline-event-descript">
                    <div class="icon-container">
                        <svg aria-hidden="true">
                            <use href="assets/sprites/solid.svg#people-group"></use>
                        </svg>
                    </div>
                    <h3>NSID</h3>
                    <p>National Society of Interior Designers (NSID) is formed.</p>
                    <div class="w-full">
                        <details name="accordion">
                            <summary class="btn btn-accordion justify-center"><svg aria-hidden="true" class="icon-xs">
                                    <use href="/assets/sprites/solid.svg#angle-down"></use>
                                </svg>Sources</summary>
                            <div class="accordion-content-wrapper">
                                <div class="flex flex-col pl-6 gap-4">
                                    <p class="break-all">ASID. <a class="link link--inline"
                                            href="https://www.asid.org/50years" target="_blank">A
                                            History
                                            of the American Society of Interior Designers</a>. ASID (2025). Available
                                        at:
                                        https://www.asid.org/50years (Accessed 27 September 2025).
                                    </p>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="timeline-marker"></div>
                <p class="timeline-date">1957</p>
            </div>
            <div class="timeline-event">
                <div class="timeline-event-descript">
                    <div class="icon-container">
                        <svg aria-hidden="true">
                            <use href="assets/sprites/solid.svg#people-group"></use>
                        </svg>
                    </div>
                    <h3>FIDER / CIDA</h3>
                    <p>FIDER, now called CIDA, the Council for Interior Design Accreditation, is formed.
                    </p>
                    <div class="w-full">
                        <details name="accordion">
                            <summary class="btn btn-accordion justify-center"><svg aria-hidden="true" class="icon-xs">
                                    <use href="/assets/sprites/solid.svg#angle-down"></use>
                                </svg>Sources</summary>
                            <div class="accordion-content-wrapper">
                                <div class="flex flex-col pl-6 gap-4">
                                    <p class="break-all">CIDA. <a class="link link--inline"
                                            href="https://cida.org/cida-history" target="_blank">Our
                                            Story</a>. Council for Interior Design Accreditation (2025). Available
                                        at: https://cida.org/cida-history (Accessed 27 September 2025).
                                    </p>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="timeline-marker"></div>
                <p class="timeline-date">1970</p>
            </div>
            <div class="timeline-event">
                <div class="timeline-event-descript">
                    <div class="icon-container">
                        <svg aria-hidden="true">
                            <use href="assets/sprites/solid.svg#people-group"></use>
                        </svg>
                    </div>
                    <h3>CIDQ</h3>
                    <p>CIDQ (Council for Interior Design Qualification) is formed.</p>
                    <div class="w-full">
                        <details name="accordion">
                            <summary class="btn btn-accordion justify-center"><svg aria-hidden="true" class="icon-xs">
                                    <use href="/assets/sprites/solid.svg#angle-down"></use>
                                </svg>Sources</summary>
                            <div class="accordion-content-wrapper">
                                <div class="flex flex-col pl-6 gap-4">
                                    <p class="break-all">LinkedIn. <a class="link link--inline"
                                            href="https://www.linkedin.com/company/cidq" target="_blank">CIDQ</a>.
                                        LinkedIn
                                        (2026). Available
                                        at: https://www.linkedin.com/company/cidq (Accessed 05 May 2026).
                                    </p>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="timeline-marker"></div>
                <p class="timeline-date">1974</p>
            </div>
            <div class="timeline-event">
                <div class="timeline-event-descript">
                    <div class="icon-container">
                        <svg aria-hidden="true">
                            <use href="assets/sprites/solid.svg#people-group"></use>
                        </svg>
                    </div>
                    <h3>ASID</h3>
                    <p>ASID (American Society of Interior Designers) is formed.</p>
                    <div class="w-full">
                        <details name="accordion">
                            <summary class="btn btn-accordion justify-center"><svg aria-hidden="true" class="icon-xs">
                                    <use href="/assets/sprites/solid.svg#angle-down"></use>
                                </svg>Sources</summary>
                            <div class="accordion-content-wrapper">
                                <div class="flex flex-col pl-6 gap-4">
                                    <p class="break-all">ASID. <a class="link link--inline"
                                            href="https://www.asid.org/50years" target="_blank">A
                                            History
                                            of the American Society of Interior Designers</a>. ASID (2025). Available
                                        at:
                                        https://www.asid.org/50years (Accessed 27 September 2025).
                                    </p>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="timeline-marker"></div>
                <p class="timeline-date">1975</p>
            </div>
            <div class="timeline-event">
                <div class="timeline-event-descript">
                    <div class="icon-container">
                        <svg class="text-secondary-one" aria-hidden="true">
                            <use href="assets/sprites/solid.svg#fire"></use>
                        </svg>
                    </div>
                    <h3>Hotel Fire</h3>
                    <p>Hotel fire kills 85 due to toxic smoke from interior finishes and lack of
                        sprinklers.
                    </p>
                    <div class="w-full">
                        <details name="accordion">
                            <summary class="btn btn-accordion justify-center"><svg aria-hidden="true" class="icon-xs">
                                    <use href="/assets/sprites/solid.svg#angle-down"></use>
                                </svg>Sources</summary>
                            <div class="accordion-content-wrapper">
                                <div class="flex flex-col pl-6 gap-4">
                                    <p class="break-all">Best, Richard, and Demers, David P. <a
                                            class="link link--inline"
                                            href="https://www.firefighternation.com/wp-content/uploads/2016/11/lasvegasmgmgrand.pdf"
                                            target="_blank">Investigation Report on the MGM Grand Hotel Fire</a>.
                                        National
                                        Fire
                                        Protection Association, 15 Jan. 1982.
                                        https://www.firefighternation.com/wp-content/uploads/2016/11/lasvegasmgmgrand.pdf
                                        (Accessed 27
                                        September 2025).
                                    </p>
                                    <p class="break-all">Jensen Hughes. <a class="link link--inline"
                                            href="https://www.jensenhughes.com/insights/how-the-mgm-grand-fire-changed-fire-codes-standards"
                                            target="_blank">How the MGM Grand Fire Changed Fire Codes + Standards</a>.
                                        Jensen Hughes
                                        19 Nov. 2021. Available at:
                                        https://www.jensenhughes.com/insights/how-the-mgm-grand-fire-changed-fire-codes-standards
                                        (Accessed 27 September 2025).
                                    </p>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="timeline-marker"></div>
                <p class="timeline-date">1980</p>
            </div>
            <div class="timeline-event">
                <div class="timeline-event-descript">
                    <div class="icon-container">
                        <svg aria-hidden="true">
                            <use href="assets/sprites/solid.svg#gavel"></use>
                        </svg>
                    </div>
                    <h3>Interior Design Regulation</h3>
                    <p>Alabama is the first state to pass interior design regulation.
                    </p>
                    <div class="w-full">
                        <details name="accordion">
                            <summary class="btn btn-accordion justify-center"><svg aria-hidden="true" class="icon-xs">
                                    <use href="/assets/sprites/solid.svg#angle-down"></use>
                                </svg>Sources</summary>
                            <div class="accordion-content-wrapper">
                                <div class="flex flex-col pl-6 gap-4">
                                    <p class="break-all">IIDA Alabama Chapter. <a class="link link--inline"
                                            href="https://www.iida-al.org/resources/advocacy-legislation"
                                            target="_blank">Advocacy &
                                            Legislation</a>. IIDA Alabama Chapter (2025). Available at:
                                        https://www.iida-al.org/resources/advocacy-legislation (Accessed 27 September
                                        2025).
                                    </p>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="timeline-marker"></div>
                <p class="timeline-date">1982</p>
            </div>
            <div class="timeline-event">
                <div class="timeline-event-descript">
                    <div class="icon-container">
                        <svg aria-hidden="true">
                            <use href="assets/sprites/solid.svg#bullhorn"></use>
                        </svg>
                    </div>
                    <h3>Architecture Opposition</h3>
                    <p>Architects openly oppose interior design legislation.
                    </p>
                    <div class="w-full">
                        <details name="accordion">
                            <summary class="btn btn-accordion justify-center"><svg aria-hidden="true" class="icon-xs">
                                    <use href="/assets/sprites/solid.svg#angle-down"></use>
                                </svg>Sources</summary>
                            <div class="accordion-content-wrapper">
                                <div class="flex flex-col pl-6 gap-4">
                                    <p class="break-all">Gillman, Todd J. <a class="link link--inline"
                                            href=" https://www.washingtonpost.com/archive/business/1987/08/24/architects-fight-dc-law-licensing-interior-designers/b4afb5fa-aa7e-4b59-9536-3fd85ecd9963"
                                            target="_blank">Architects Fight D.C. Law Licensing Interior Designers</a>.
                                        The
                                        Washington
                                        Post, 23 Aug. 1987.
                                        https://www.washingtonpost.com/archive/business/1987/08/24/architects-fight-dc-law-licensing-interior-designers/b4afb5fa-aa7e-4b59-9536-3fd85ecd9963
                                        (Accessed 27 September 2025).
                                    </p>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="timeline-marker"></div>
                <p class="timeline-date">1987</p>
            </div>
            <div class="timeline-event">
                <div class="timeline-event-descript">
                    <div class="icon-container">
                        <svg aria-hidden="true">
                            <use href="assets/sprites/solid.svg#scale-unbalanced"></use>
                        </svg>
                    </div>
                    <h3>National Accord</h3>
                    <p>National Accord established, placing restrictions on interior designers for AIA
                        support.</p>
                    <div class="w-full">
                        <details name="accordion">
                            <summary class="btn btn-accordion justify-center"><svg aria-hidden="true" class="icon-xs">
                                    <use href="/assets/sprites/solid.svg#angle-down"></use>
                                </svg>Sources</summary>
                            <div class="accordion-content-wrapper">
                                <div class="flex flex-col pl-6 gap-4">
                                    <p class="break-all">Whitney, Marilyn Corson. <a class="link link--inline"
                                            href="https://vtechworks.lib.vt.edu/server/api/core/bitstreams/75802a53-f826-4e1b-9e44-1afa7c02bd4f/content#page=92"
                                            target="_blank">A History of the Professionalization of Interior Design</a>.
                                        Virginia Tech
                                        VTechWorks, 18 Aug. 2008.
                                        https://vtechworks.lib.vt.edu/server/api/core/bitstreams/75802a53-f826-4e1b-9e44-1afa7c02bd4f/content#page=92
                                        (Accessed 27 September 2025).
                                    </p>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="timeline-marker"></div>
                <p class="timeline-date">1989</p>
            </div>
            <div class="timeline-event">
                <div class="timeline-event-descript">
                    <div class="icon-container">
                        <svg aria-hidden="true">
                            <use href="assets/sprites/solid.svg#people-group"></use>
                        </svg>
                    </div>
                    <h3>IIDA</h3>
                    <p>IIDA (International Interior Design Association) is formed.</p>
                    <div class="w-full">
                        <details name="accordion">
                            <summary class="btn btn-accordion justify-center"><svg aria-hidden="true" class="icon-xs">
                                    <use href="/assets/sprites/solid.svg#angle-down"></use>
                                </svg>Sources</summary>
                            <div class="accordion-content-wrapper">
                                <div class="flex flex-col pl-6 gap-4">
                                    <p class="break-all"><a class="link link--inline"
                                            href="https://iida.org/about/our-story" target="_blank">Our Story</a>.
                                        IIDA
                                        (2025). Available at: https://iida.org/about/our-story (Accessed 27 September
                                        2025).
                                    </p>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="timeline-marker"></div>
                <p class="timeline-date">1994</p>
            </div>
            <div class="timeline-event">
                <div class="timeline-event-descript">
                    <div class="icon-container">
                        <svg aria-hidden="true">
                            <use href="assets/sprites/solid.svg#bullhorn"></use>
                        </svg>
                    </div>
                    <h3>Accord Ends</h3>
                    <p>ASID votes to no longer honor the Accord.</p>
                    <div class="w-full">
                        <details name="accordion">
                            <summary class="btn btn-accordion justify-center"><svg aria-hidden="true" class="icon-xs">
                                    <use href="/assets/sprites/solid.svg#angle-down"></use>
                                </svg>Sources</summary>
                            <div class="accordion-content-wrapper">
                                <div class="flex flex-col pl-6 gap-4">
                                    <p class="break-all">AIA Las Vegas. <a class="link link--inline"
                                            href="https://usmodernist.org/AIANV/AIALV-1999-07.pdf#page=3"
                                            target="_blank">Interior
                                            Designers
                                            Abandon 1989 Accord</a>. Forum, July 2000. Available at:
                                        https://usmodernist.org/AIANV/AIALV-1999-07.pdf#page=3 (Accessed 27 September
                                        2025).
                                    </p>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="timeline-marker"></div>
                <p class="timeline-date">1999</p>
            </div>
            <div class="timeline-event">
                <div class="timeline-event-descript">
                    <div class="icon-container">
                        <svg class="text-secondary-one" aria-hidden="true">
                            <use href="assets/sprites/solid.svg#fire"></use>
                        </svg>
                    </div>
                    <h3>Nightclub Fire</h3>
                    <p>Nightclub fire kills 100 due to rapid fire spread and toxic fumes from interior
                        finishes.</p>
                    <div class="w-full">
                        <details name="accordion">
                            <summary class="btn btn-accordion justify-center"><svg aria-hidden="true" class="icon-xs">
                                    <use href="/assets/sprites/solid.svg#angle-down"></use>
                                </svg>Sources</summary>
                            <div class="accordion-content-wrapper">
                                <div class="flex flex-col pl-6 gap-4">
                                    <p class="break-all">FSRI. <a class="link link--inline"
                                            href="https://fsri.org/news/remembering-station-nightclub-fire-twenty-years-later"
                                            target="_blank">Remembering The Station Nightclub Fire: Twenty Years
                                            Later</a>. UL Research Institutes, 20 Feb. 2023. Available at:
                                        https://fsri.org/news/remembering-station-nightclub-fire-twenty-years-later
                                        (Accessed 27
                                        September
                                        2025).
                                    </p>
                                    <p class="break-all">NIST. <a class="link link--inline"
                                            href="https://www.nist.gov/disaster-failure-studies/station-nightclub-fire-2003"
                                            target="_blank">Disaster & Failure Studies: The Station Nightclub Fire
                                            2003</a>.
                                        NIST
                                        3 June 2011. Available at:
                                        https://www.nist.gov/disaster-failure-studies/station-nightclub-fire-2003
                                        (Accessed 27 September 2025).
                                    </p>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="timeline-marker"></div>
                <p class="timeline-date">2003</p>
            </div>
            <div class="timeline-event">
                <div class="timeline-event-descript">
                    <div class="icon-container">
                        <svg aria-hidden="true">
                            <use href="assets/sprites/solid.svg#bullhorn"></use>
                        </svg>
                    </div>
                    <h3>Freedom of Speech</h3>
                    <p>Regulation of the title “Interior Designer” is ruled unconstitutional.</p>
                    <div class="w-full">
                        <details name="accordion">
                            <summary class="btn btn-accordion justify-center"><svg aria-hidden="true" class="icon-xs">
                                    <use href="/assets/sprites/solid.svg#angle-down"></use>
                                </svg>Sources</summary>
                            <div class="accordion-content-wrapper">
                                <div class="flex flex-col pl-6 gap-4">
                                    <p class="break-all">Institute for Justice. <a class="link link--inline"
                                            href="https://ij.org/case/susan-roberts-v-jerry-farrell"
                                            target="_blank">Connecticut Interior
                                            Design: Challenging Connecticut's Licensing of Speech for Interior
                                            Designers</a>. Institute
                                        for
                                        Justice (2008). Available at: https://ij.org/case/susan-roberts-v-jerry-farrell
                                        (Accessed 27
                                        September
                                        2025).
                                    </p>
                                    <p class="break-all">Institute for Justice. <a class="link link--inline"
                                            href="https://ij.org/case/byrum-et-al-v-landreth-et-al-2/"
                                            target="_blank">Texas
                                            Interior
                                            Design:
                                            Challenging Texas' Licensing of Speech for Interior Designers</a>. Institute
                                        for
                                        Justice
                                        (2007).
                                        Available at: https://ij.org/case/byrum-et-al-v-landreth-et-al-2/ (Accessed 27
                                        September 2025).
                                    </p>
                                    <p class="break-all">FindLaw. <a class="link link--inline"
                                            href="https://caselaw.findlaw.com/court/us-11th-circuit/1557399.html"
                                            target="_blank">Eva
                                            Locke
                                            v.
                                            Joyce Shore</a>. FindLaw (2011). Available at:
                                        https://caselaw.findlaw.com/court/us-11th-circuit/1557399.html (Accessed 27
                                        September 2025).
                                    </p>
                                    <p class="break-all">ASID FLS. <a class="link link--inline"
                                            href="https://fls.asid.org/resources/advocacy/response-to-interior-design-deregulation"
                                            target="_blank">Response to
                                            Interior Design Deregulation</a>. American Society of Interior
                                        Designers: Florida South (2025). Available at:
                                        https://fls.asid.org/resources/advocacy/response-to-interior-design-deregulation
                                        (Accessed
                                        27 September 2025).
                                    </p>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="timeline-marker"></div>
                <p class="timeline-date">2009</p>
            </div>
            <div class="timeline-event">
                <div class="timeline-event-descript">
                    <div class="icon-container">
                        <svg aria-hidden="true">
                            <use href="assets/sprites/solid.svg#bell"></use>
                        </svg>
                    </div>
                    <h3>Architects Join ASID</h3>
                    <p>ASID allows licensed architects to join as practitioner members.</p>
                    <div class="w-full">
                        <details name="accordion">
                            <summary class="btn btn-accordion justify-center"><svg aria-hidden="true" class="icon-xs">
                                    <use href="/assets/sprites/solid.svg#angle-down"></use>
                                </svg>Sources</summary>
                            <div class="accordion-content-wrapper">
                                <div class="flex flex-col pl-6 gap-4">
                                    <p class="break-all">ASID. <a class="link link--inline"
                                            href="https://www.asid.org/frequently_asked_questions/frequently_asked_questions"
                                            target="_blank">Frequently Asked Questions: Why is ASID including architects
                                            in
                                            its
                                            membership structure?</a>. American Society of Interior Designers (2025).
                                        Available at:
                                        https://www.asid.org/frequently_asked_questions/frequently_asked_questions
                                        (Accessed
                                        27
                                        September 2025).
                                    </p>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="timeline-marker"></div>
                <p class="timeline-date">2013</p>
            </div>
            <div class="timeline-event">
                <div class="timeline-event-descript">
                    <div class="icon-container">
                        <svg aria-hidden="true">
                            <use class="text-secondary-one" href="assets/sprites/solid.svg#fire"></use>
                        </svg>
                    </div>
                    <h3>Apartment Fire</h3>
                    <p>Apartment fire kills 13 due to lack of self-closing doors and oil-based paint.</p>
                    <div class="w-full">
                        <details name="accordion">
                            <summary class="btn btn-accordion justify-center"><svg aria-hidden="true" class="icon-xs">
                                    <use href="/assets/sprites/solid.svg#angle-down"></use>
                                </svg>Sources</summary>
                            <div class="accordion-content-wrapper">
                                <div class="flex flex-col pl-6 gap-4">
                                    <p class="break-all">Daly, Michael. <a class="link link--inline"
                                            href="https://www.thedailybeast.com/bronx-buildings-oil-based-paint-made-it-burn-like-gasoline"
                                            target="_blank">Bronx Building's Oil-Based Paint Made it Burn Like
                                            'Gasoline'</a>. Daily Beast, 29 Dec. 2017. Available at:
                                        https://www.thedailybeast.com/bronx-buildings-oil-based-paint-made-it-burn-like-gasoline
                                        (Accessed 27 September 2025).
                                    </p>
                                    <p class="break-all">Sullivan, C.J. <a class="link link--inline"
                                            href="https://nypost.com/2017/12/28/multiple-people-seriously-injured-as-fire-rips-through-bronx-building/"
                                            target="_blank">12 dead after fire sweeps through Bronx apartment
                                            building</a>.
                                        New York Post, 28 Dec. 2017. Available at:
                                        https://nypost.com/2017/12/28/multiple-people-seriously-injured-as-fire-rips-through-bronx-building/
                                        (Accessed 27 September 2025).
                                    </p>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="timeline-marker"></div>
                <p class="timeline-date">2017</p>
            </div>
            <div class="timeline-event">
                <div class="timeline-event-descript">
                    <div class="icon-container">
                        <svg aria-hidden="true">
                            <use href="assets/sprites/solid.svg#bell"></use>
                        </svg>
                    </div>
                    <h3>AIA Chapters Update</h3>
                    <p>AIA no longer mandates its chapters to outright oppose interior design regulation.
                    </p>
                    <div class="w-full">
                        <details name="accordion">
                            <summary class="btn btn-accordion justify-center"><svg aria-hidden="true" class="icon-xs">
                                    <use href="/assets/sprites/solid.svg#angle-down"></use>
                                </svg>Sources</summary>
                            <div class="accordion-content-wrapper">
                                <div class="flex flex-col pl-6 gap-4">
                                    <p class="break-all">CIDQ. <a class="link link--inline"
                                            href="https://www.cidq.org/2022/01/17/aia-revises-interior-design-opposition-position-statement/"
                                            target="_blank">AIA Revises
                                            Interior Design
                                            Opposition Position Statement</a>. Council for Interior
                                        Design Qualification, 17 Jan. 2022. Available at:
                                        https://www.cidq.org/2022/01/17/aia-revises-interior-design-opposition-position-statement/
                                        (Accessed
                                        27
                                        September 2025).
                                    </p>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="timeline-marker"></div>
                <p class="timeline-date">2021</p>
            </div>
            <div class="timeline-event">
                <div class="timeline-event-descript">
                    <div class="icon-container">
                        <svg aria-hidden="true">
                            <use href="assets/sprites/solid.svg#people-group"></use>
                        </svg>
                    </div>
                    <h3>Consortium Formed</h3>
                    <p>ASID, IIDA, and CIDQ form the Consortium for Interior Design.</p>
                    <div class="w-full">
                        <details name="accordion">
                            <summary class="btn btn-accordion justify-center"><svg aria-hidden="true" class="icon-xs">
                                    <use href="/assets/sprites/solid.svg#angle-down"></use>
                                </svg>Sources</summary>
                            <div class="accordion-content-wrapper">
                                <div class="flex flex-col pl-6 gap-4">
                                    <p class="break-all">ASID. <a class="link link--inline"
                                            href="https://www.asid.org/news/asid-cidq-and-iida-announce-consortium-for-interior-design-advocating-for-public-health-safety-and-well-being"
                                            target="_blank">ASID, CIDQ, and IIDA Announce Consortium for Interior
                                            Design:
                                            Advocating
                                            for Public Health, Safety, and Well-being</a>. ASID, 29 Mar. 2023. Available
                                        at:
                                        https://www.asid.org/news/asid-cidq-and-iida-announce-consortium-for-interior-design-advocating-for-public-health-safety-and-well-being
                                        (Accessed 27 September 2025).
                                    </p>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="timeline-marker"></div>
                <p class="timeline-date">2023</p>
            </div>
            <div class="timeline-event">
                <div class="timeline-event-descript">
                    <div class="icon-container">
                        <svg aria-hidden="true">
                            <use href="assets/sprites/solid.svg#scale-unbalanced"></use>
                        </svg>
                    </div>
                    <h3>“Reasonable” Regulation</h3>
                    <p>ASID, IIDA, and CIDQ announce “reasonable” regulation.</p>
                    <div class="w-full">
                        <details name="accordion">
                            <summary class="btn btn-accordion justify-center"><svg aria-hidden="true" class="icon-xs">
                                    <use href="/assets/sprites/solid.svg#angle-down"></use>
                                </svg>Sources</summary>
                            <div class="accordion-content-wrapper">
                                <div class="flex flex-col pl-6 gap-4">
                                    <p class="break-all">ASID. <a class="link link--inline"
                                            href="https://www.asid.org/lib24watch/files/pdf/8572" target="_blank">The
                                            Importance of
                                            Interior
                                            Design</a>. ASID (2025). Available at:
                                        https://www.asid.org/lib24watch/files/pdf/8572 (Accessed 27 September 2025).
                                    </p>
                                    <p class="break-all">CIDQ. <a class="link link--inline"
                                            href="https://www.cidq.org/advocacy" target="_blank">Advocacy</a>. Council
                                        for
                                        Interior
                                        Design Qualification (2025). Available at: https://www.cidq.org/advocacy
                                        (Accessed
                                        27 September
                                        2025).
                                    </p>
                                    <p class="break-all">IIDA. <a class="link link--inline"
                                            href="https://iida.org/advocacy" target="_blank">Advocacy:
                                            About</a>. IIDA (2025). Available at: https://iida.org/advocacy (Accessed 27
                                        September 2025).
                                    </p>
                                    <p class="break-all"><a class="link link--inline"
                                            href=" https://consortiumforinteriordesign.splashthat.com/"
                                            target="_blank">The
                                            Consortium for
                                            Interior Design</a> (2025). Available at:
                                        https://consortiumforinteriordesign.splashthat.com/ (Accessed 27 September
                                        2025).
                                        </li>
                                    </p>
                                    <p class="break-all">CIDQ. <a class="link link--inline"
                                            href="https://www.cidq.org/2023/03/27/announcing-the-consortium-for-interior-design/"
                                            target="_blank">Announcing the Consortium for Interior Design</a>. CIDQ, 27
                                        Mar
                                        2023.
                                        Available at:
                                        https://www.cidq.org/2023/03/27/announcing-the-consortium-for-interior-design/
                                        (Accessed 26 May 2026).
                                    </p>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="timeline-marker"></div>
                <p class="timeline-date">today</p>
            </div>
        </div>
    </div>
</section>